body>div{
    border:1px solid #ddd;
    height: 100vh;
}
body>div>p{
    text-align: center;
}
body>div>div>div{
    text-align: center;
}
li.todo-li{
    margin:10px 0;
    width:300px;
    border-bottom:1px solid #ddd;
    position:relative;
}
li.todo-li>button{
    position:absolute;
    top:0;
    right: 0;
}